* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;
}

main {
    margin-left: 250px;
    padding: 20px;
    width: calc(100% - 250px);
}

.main-header {
    margin-bottom: 20px;
}

.main-header nav {
    font-size: 0.9rem;
    color: black;
    margin-bottom: 10px;
}

.main-header nav a {
    color: rgb(68, 63, 63);
    text-decoration: none
}

.main-header nav a:hover {
    color: white;
}



.main-header h1 {
    font-size: 1.8rem;
    color: black;

}

.detalhes-content {
    background-color: #8aa0ac;
    border: 1px solid #748994;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 1);
}

.detalhes-content header {
    background-color: #34495e;
    color: white;
    padding: 10px;
    border-radius: 5px 5px 0 0;
    font-size: 0.9rem;
    font-weight: 500;
    flex: 1;
    
}

.detalhes-content .detalhes-fiscais {
    padding: 15px;
    border-bottom: 1px solid #e1e1e1;
    font-size: 0.9rem;
    color: #252c33;
    margin-inline-start: 10px;
    display: flex;
    justify-content: space-between;

}

.detalhes-content .detalhes-fiscais:last-child {
    border-bottom: none;
}

.detalhes-content .detalhes-fiscais p {
    margin: 15px 0;
}

.detalhes-content .detalhes-fiscais a {
    color: white;
    text-decoration: none;
}

.detalhes-content .detalhes-fiscais a:hover {
    text-decoration: underline;
    color: #585b5e;;
}

.detalhes-content .detalhes-fiscais-two {
    padding: 15px;
    border-bottom: 1px solid #e1e1e1;
    font-size: 0.9rem;
    color: #252c33;
    margin-inline-start: 10px;
    display: flex;
    justify-content: space-between;
}

.detalhes-content .detalhes-fiscais-two p {
    margin: 15px 0;
}

.detalhes-content .detalhes-fiscais-two a {
    color: white;
    text-decoration: none;
}

.detalhes-content .detalhes-fiscais-two a:hover {
    text-decoration: underline;
    color: #585b5e;
}

button {
        background-color: #34495e;
        color: #ffff;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        margin: 15px auto;
}
    
button:hover {
    background-color: #79848f;
}

.more {
  gap: 5rem;
  margin-inline-start: 20px;
}

.cadastrar {
    margin-inline-start: 690px;
}

.right-box {
    margin-inline-end: 600px;
    text-align: center;
}


